openapi: 3.0.3
info:
  title: Toss Payments Core API
  description: >-
    The Toss Payments Core API is a REST interface for accepting and managing
    online payments in South Korea across cards, easy-pay wallets (Toss Pay,
    KakaoPay, Naver Pay), virtual accounts, bank transfer, and mobile-phone
    billing. This document models a representative, grounded subset of the Core
    API: payment confirmation and cancellation, recurring billing keys, virtual
    account issuance, cash receipts, transaction and settlement queries, and
    marketplace payouts. All requests authenticate with HTTP Basic auth - the
    secret API key is used as the username with an empty password, Base64
    encoded (`Authorization: Basic base64(secretKey:)`). Asynchronous results
    (virtual account deposits, foreign payment cancellations, Brandpay and
    payout status changes) are delivered by webhooks, which are out of scope for
    this REST document. Field names follow the Korean documentation, translated
    where helpful. This is a modeled subset authored by API Evangelist from the
    public documentation, not an official Toss Payments OpenAPI artifact.
  version: '2022-11-16'
  contact:
    name: Toss Payments Developer Center
    url: https://docs.tosspayments.com/en
  termsOfService: https://www.tosspayments.com
servers:
  - url: https://api.tosspayments.com
    description: Toss Payments Core API (test and live selected by secret key prefix)
security:
  - basicAuth: []
tags:
  - name: Payments
    description: Confirm, retrieve, and cancel payments.
  - name: Billing
    description: Recurring (automatic) payments via billing keys.
  - name: Virtual Accounts
    description: Per-order virtual bank account issuance.
  - name: Cash Receipts
    description: Korean cash receipt (현금영수증) issuance and cancellation.
  - name: Transactions
    description: Transaction ledger queries.
  - name: Settlements
    description: Settlement queries and manual settlement requests.
  - name: Payouts
    description: Marketplace balance and seller payouts (v2).
paths:
  /v1/payments/confirm:
    post:
      operationId: confirmPayment
      tags:
        - Payments
      summary: Confirm a payment
      description: >-
        Authorizes (approves) a payment that was created in the Toss Payments
        checkout window. The client supplies the paymentKey, orderId, and amount
        returned by the SDK success callback; the server validates that the
        amount matches and finalizes the transaction.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmPaymentRequest'
      responses:
        '200':
          description: The approved Payment object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/payments/key-in:
    post:
      operationId: keyInPayment
      tags:
        - Payments
      summary: Key-in (manual card) payment
      description: >-
        Approves a payment directly from card credentials (card number, expiry,
        and identity number) without the checkout window. Requires an additional
        contract with Toss Payments.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeyInPaymentRequest'
      responses:
        '200':
          description: The approved Payment object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/payments/{paymentKey}:
    parameters:
      - $ref: '#/components/parameters/PaymentKey'
    get:
      operationId: getPayment
      tags:
        - Payments
      summary: Get a payment by paymentKey
      description: Retrieves a Payment object by its paymentKey.
      responses:
        '200':
          description: The requested Payment object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/payments/orders/{orderId}:
    parameters:
      - name: orderId
        in: path
        required: true
        description: The merchant-assigned order ID (6-64 chars; alphanumeric, `-`, `_`).
        schema:
          type: string
    get:
      operationId: getPaymentByOrderId
      tags:
        - Payments
      summary: Get a payment by orderId
      description: Retrieves a Payment object by the merchant's orderId.
      responses:
        '200':
          description: The requested Payment object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/payments/{paymentKey}/cancel:
    parameters:
      - $ref: '#/components/parameters/PaymentKey'
    post:
      operationId: cancelPayment
      tags:
        - Payments
      summary: Cancel a payment
      description: >-
        Cancels a payment in full, or partially when cancelAmount is provided.
        For virtual account payments a refundReceiveAccount is required to return
        funds to the customer.
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: Optional client-generated key to make the cancellation idempotent.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelPaymentRequest'
      responses:
        '200':
          description: The updated Payment object reflecting the cancellation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/billing/authorizations/issue:
    post:
      operationId: issueBillingKey
      tags:
        - Billing
      summary: Issue a billing key from an authKey
      description: >-
        Issues a billing key for recurring payments from the authKey returned by
        the billing authorization window and the merchant's customerKey.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueBillingKeyRequest'
      responses:
        '200':
          description: The issued Billing object with billingKey.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Billing'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/billing/authorizations/card:
    post:
      operationId: issueBillingKeyFromCard
      tags:
        - Billing
      summary: Issue a billing key from card credentials
      description: >-
        Issues a billing key directly from card credentials without the
        authorization window. Requires an additional contract.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueBillingKeyFromCardRequest'
      responses:
        '200':
          description: The issued Billing object with billingKey.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Billing'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/billing/{billingKey}:
    parameters:
      - name: billingKey
        in: path
        required: true
        description: The billing key issued for the customer (max 200 chars).
        schema:
          type: string
    post:
      operationId: payWithBillingKey
      tags:
        - Billing
      summary: Charge a billing key
      description: >-
        Approves a recurring payment using a previously issued billing key and
        the matching customerKey.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingChargeRequest'
      responses:
        '200':
          description: The approved Payment object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/virtual-accounts:
    post:
      operationId: createVirtualAccount
      tags:
        - Virtual Accounts
      summary: Issue a virtual account
      description: >-
        Issues a per-order virtual bank account for the customer to deposit into.
        Deposit and cancellation events arrive via the DEPOSIT_CALLBACK webhook.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualAccountRequest'
      responses:
        '200':
          description: The Payment object containing the issued virtual account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/cash-receipts:
    post:
      operationId: issueCashReceipt
      tags:
        - Cash Receipts
      summary: Issue a cash receipt
      description: Issues a Korean cash receipt for income deduction or expense evidence.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CashReceiptRequest'
      responses:
        '200':
          description: The issued CashReceipt object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashReceipt'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      operationId: listCashReceipts
      tags:
        - Cash Receipts
      summary: Query cash receipts
      description: Queries issued cash receipts by request date with cursor pagination.
      parameters:
        - name: requestDate
          in: query
          required: true
          description: The date (YYYY-MM-DD) cash receipts were requested.
          schema:
            type: string
            format: date
        - name: limit
          in: query
          required: false
          description: Maximum number of records to return (up to 10000).
          schema:
            type: integer
            default: 100
        - name: startingAfter
          in: query
          required: false
          description: Cursor - return records after this receiptKey.
          schema:
            type: string
      responses:
        '200':
          description: A list of CashReceipt objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CashReceipt'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/cash-receipts/{receiptKey}/cancel:
    parameters:
      - name: receiptKey
        in: path
        required: true
        description: The key identifying the cash receipt.
        schema:
          type: string
    post:
      operationId: cancelCashReceipt
      tags:
        - Cash Receipts
      summary: Cancel a cash receipt
      description: Cancels a cash receipt in full or in part.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
              properties:
                amount:
                  type: integer
                  description: The amount to cancel.
      responses:
        '200':
          description: The updated CashReceipt object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashReceipt'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/transactions:
    get:
      operationId: listTransactions
      tags:
        - Transactions
      summary: Query transactions
      description: >-
        Queries the transaction ledger over a date range, with cursor pagination
        (up to 5000 records per page).
      parameters:
        - name: startDate
          in: query
          required: true
          description: Start datetime (ISO 8601) of the query range.
          schema:
            type: string
            format: date-time
        - name: endDate
          in: query
          required: true
          description: End datetime (ISO 8601) of the query range.
          schema:
            type: string
            format: date-time
        - name: startingAfter
          in: query
          required: false
          description: Cursor - return records after this transactionKey.
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Maximum number of records to return (up to 5000).
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: A list of Transaction objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/settlements:
    get:
      operationId: listSettlements
      tags:
        - Settlements
      summary: Query settlements
      description: >-
        Queries settlement records over a date range by sold date or paid-out
        date, with page-based pagination.
      parameters:
        - name: startDate
          in: query
          required: true
          description: Start date (YYYY-MM-DD).
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: true
          description: End date (YYYY-MM-DD).
          schema:
            type: string
            format: date
        - name: dateType
          in: query
          required: false
          description: Whether the date range applies to soldDate or paidOutDate.
          schema:
            type: string
            enum:
              - soldDate
              - paidOutDate
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
        - name: size
          in: query
          required: false
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: A list of Settlement objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Settlement'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: requestSettlement
      tags:
        - Settlements
      summary: Request a manual settlement
      description: >-
        Requests manual settlement for one or more paymentKeys. Available only
        under an additional contract.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - paymentKey
              properties:
                paymentKey:
                  type: string
                  description: The paymentKey to settle manually.
      responses:
        '200':
          description: Manual settlement request result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settlement'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v2/balances:
    get:
      operationId: getPayoutBalance
      tags:
        - Payouts
      summary: Retrieve payout balance
      description: >-
        Returns the funds available for payouts. Part of the marketplace payouts
        (v2) product, which requires an additional contract.
      responses:
        '200':
          description: The available balance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v2/payouts:
    post:
      operationId: requestPayouts
      tags:
        - Payouts
      summary: Request payouts
      description: >-
        Sends a batch of payout requests to sellers (up to 100 per call).
        Payouts can be immediate or scheduled. Status changes are delivered via
        the payout.changed webhook.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayoutRequest'
      responses:
        '200':
          description: The accepted payout requests.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Payout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: >-
        HTTP Basic authentication. Use your Toss Payments secret key as the
        username and leave the password empty, then Base64 encode
        `secretKey:` for the Authorization header. Test keys are prefixed
        `test_sk_` / `test_gsk_` and live keys `live_sk_` / `live_gsk_`.
  parameters:
    PaymentKey:
      name: paymentKey
      in: path
      required: true
      description: The unique key identifying the payment (max 200 chars).
      schema:
        type: string
  responses:
    BadRequest:
      description: The request was invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid secret key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: The key is not permitted to perform this action.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      description: Standard Toss Payments error body.
      properties:
        code:
          type: string
          description: Machine-readable error code (for example INVALID_CARD_EXPIRATION).
        message:
          type: string
          description: Human-readable error message (Korean by default).
    ConfirmPaymentRequest:
      type: object
      required:
        - paymentKey
        - orderId
        - amount
      properties:
        paymentKey:
          type: string
        orderId:
          type: string
        amount:
          type: integer
          description: The amount to approve; must match the amount created in the window.
    KeyInPaymentRequest:
      type: object
      required:
        - amount
        - orderId
        - orderName
        - cardNumber
        - cardExpirationYear
        - cardExpirationMonth
      properties:
        amount:
          type: integer
        orderId:
          type: string
        orderName:
          type: string
        cardNumber:
          type: string
        cardExpirationYear:
          type: string
        cardExpirationMonth:
          type: string
        customerIdentityNumber:
          type: string
          description: Birth date (YYMMDD) or business registration number.
        cardInstallmentPlan:
          type: integer
          description: Number of installment months (0 for lump sum).
    CancelPaymentRequest:
      type: object
      required:
        - cancelReason
      properties:
        cancelReason:
          type: string
        cancelAmount:
          type: integer
          description: Amount to cancel for a partial cancellation; omit to cancel in full.
        refundReceiveAccount:
          $ref: '#/components/schemas/RefundReceiveAccount'
        taxFreeAmount:
          type: integer
        currency:
          type: string
    RefundReceiveAccount:
      type: object
      description: Refund destination account, required for virtual account cancellations.
      required:
        - bank
        - accountNumber
        - holderName
      properties:
        bank:
          type: string
          description: Bank code.
        accountNumber:
          type: string
        holderName:
          type: string
    IssueBillingKeyRequest:
      type: object
      required:
        - authKey
        - customerKey
      properties:
        authKey:
          type: string
          description: The authKey returned by the billing authorization window.
        customerKey:
          type: string
          description: Merchant-assigned customer identifier (2-300 chars).
    IssueBillingKeyFromCardRequest:
      type: object
      required:
        - customerKey
        - cardNumber
        - cardExpirationYear
        - cardExpirationMonth
        - customerIdentityNumber
      properties:
        customerKey:
          type: string
        cardNumber:
          type: string
        cardExpirationYear:
          type: string
        cardExpirationMonth:
          type: string
        customerIdentityNumber:
          type: string
    BillingChargeRequest:
      type: object
      required:
        - customerKey
        - amount
        - orderId
        - orderName
      properties:
        customerKey:
          type: string
        amount:
          type: integer
        orderId:
          type: string
        orderName:
          type: string
        customerEmail:
          type: string
        customerName:
          type: string
        taxFreeAmount:
          type: integer
    VirtualAccountRequest:
      type: object
      required:
        - amount
        - orderId
        - orderName
        - customerName
        - bank
      properties:
        amount:
          type: integer
        orderId:
          type: string
        orderName:
          type: string
        customerName:
          type: string
        bank:
          type: string
          description: Bank code for the virtual account.
        validHours:
          type: integer
          description: Hours the virtual account remains valid.
        dueDate:
          type: string
          format: date-time
        cashReceipt:
          type: object
          properties:
            type:
              type: string
              enum:
                - 소득공제
                - 지출증빙
                - 미발행
    CashReceiptRequest:
      type: object
      required:
        - amount
        - orderId
        - orderName
        - customerIdentityNumber
        - type
      properties:
        amount:
          type: integer
        orderId:
          type: string
        orderName:
          type: string
        customerIdentityNumber:
          type: string
          description: Phone number, card number, or business/national ID.
        type:
          type: string
          enum:
            - 소득공제
            - 지출증빙
        taxFreeAmount:
          type: integer
    Payment:
      type: object
      description: A Toss Payments Payment object.
      properties:
        version:
          type: string
        paymentKey:
          type: string
        orderId:
          type: string
        orderName:
          type: string
        status:
          type: string
          enum:
            - READY
            - IN_PROGRESS
            - WAITING_FOR_DEPOSIT
            - DONE
            - CANCELED
            - PARTIAL_CANCELED
            - ABORTED
            - EXPIRED
        method:
          type: string
          enum:
            - 카드
            - 가상계좌
            - 간편결제
            - 휴대폰
            - 계좌이체
            - 문화상품권
            - 도서문화상품권
            - 게임문화상품권
          description: >-
            Payment method (Korean label). English enum equivalents include
            CARD, VIRTUAL_ACCOUNT, EASY_PAY, MOBILE_PHONE, TRANSFER.
        totalAmount:
          type: integer
        balanceAmount:
          type: integer
        suppliedAmount:
          type: integer
        vat:
          type: integer
        taxFreeAmount:
          type: integer
        currency:
          type: string
        requestedAt:
          type: string
          format: date-time
        approvedAt:
          type: string
          format: date-time
        card:
          $ref: '#/components/schemas/Card'
        virtualAccount:
          $ref: '#/components/schemas/VirtualAccount'
        easyPay:
          type: object
          properties:
            provider:
              type: string
            amount:
              type: integer
            discountAmount:
              type: integer
        cancels:
          type: array
          items:
            $ref: '#/components/schemas/Cancel'
    Card:
      type: object
      properties:
        company:
          type: string
        number:
          type: string
        installmentPlanMonths:
          type: integer
        approveNo:
          type: string
        cardType:
          type: string
          enum:
            - 신용
            - 체크
            - 기프트
        ownerType:
          type: string
          enum:
            - 개인
            - 법인
    VirtualAccount:
      type: object
      properties:
        accountType:
          type: string
          enum:
            - 일반
            - 고정
        accountNumber:
          type: string
        bankCode:
          type: string
        customerName:
          type: string
        dueDate:
          type: string
          format: date-time
        refundStatus:
          type: string
        settlementStatus:
          type: string
    Cancel:
      type: object
      properties:
        cancelAmount:
          type: integer
        cancelReason:
          type: string
        canceledAt:
          type: string
          format: date-time
        transactionKey:
          type: string
        cancelStatus:
          type: string
    Billing:
      type: object
      properties:
        billingKey:
          type: string
        customerKey:
          type: string
        method:
          type: string
        cardCompany:
          type: string
        cardNumber:
          type: string
        authenticatedAt:
          type: string
          format: date-time
    Transaction:
      type: object
      properties:
        transactionKey:
          type: string
        paymentKey:
          type: string
        orderId:
          type: string
        method:
          type: string
        customerKey:
          type: string
        amount:
          type: integer
        transactionAt:
          type: string
          format: date-time
        status:
          type: string
    Settlement:
      type: object
      properties:
        paymentKey:
          type: string
        transactionKey:
          type: string
        orderId:
          type: string
        method:
          type: string
        amount:
          type: integer
        interestFee:
          type: integer
        supplyAmount:
          type: integer
        vat:
          type: integer
        fee:
          type: integer
        payOutAmount:
          type: integer
        soldDate:
          type: string
          format: date
        paidOutDate:
          type: string
          format: date
    CashReceipt:
      type: object
      properties:
        receiptKey:
          type: string
        orderId:
          type: string
        type:
          type: string
        issueNumber:
          type: string
        receiptUrl:
          type: string
        amount:
          type: integer
        taxFreeAmount:
          type: integer
        issueStatus:
          type: string
          enum:
            - IN_PROGRESS
            - COMPLETED
            - FAILED
    Balance:
      type: object
      properties:
        availableAmount:
          type: integer
        pendingAmount:
          type: integer
    PayoutRequest:
      type: object
      required:
        - payouts
      properties:
        payouts:
          type: array
          items:
            type: object
            required:
              - refPayoutId
              - destination
              - amount
            properties:
              refPayoutId:
                type: string
                description: Merchant-assigned payout reference ID.
              destination:
                type: string
                description: The seller/destination identifier.
              scheduleType:
                type: string
                enum:
                  - SCHEDULED
                  - EXPRESS
              payoutDate:
                type: string
                format: date
              amount:
                type: integer
              transactionDescription:
                type: string
    Payout:
      type: object
      properties:
        id:
          type: string
        refPayoutId:
          type: string
        destination:
          type: string
        scheduleType:
          type: string
        payoutDate:
          type: string
          format: date
        amount:
          type: integer
        status:
          type: string
